[submodule "Backend"]
	path = Backend
	url = git@github.com:bthwani1/bthwani-backend.git
	branch = main
[submodule "bThwaniApp"]
	path = bThwaniApp
	url = https://github.com/mpro775/bwhwani-app.git
	branch = main
[submodule "vendor-app"]
	path = vendor-app
	url = https://github.com/mpro775/vendor-app.git
	branch = master
